.table-container {
  .table {
    th,
    td {
      vertical-align: middle;
      padding: 1rem 1.6rem;
    }

    & > :not(:first-child) {
      border-top: 2px solid greenyellow;
    }
  }
}
.pagination {
  .page-item {
    width: 2.7rem;
    height: 2.7rem;
    margin: 0 1px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-color-second);
    border-radius: 4px;
    cursor: pointer;

    &.active,
    &:hover {
      background-color: var(--background-color-second);
    }

    &.active {
      color: var(--text-color-primary);
      cursor: default;
    }
  }
}
