.table-container {
  .table {
    th,
    td {
      vertical-align: middle;
      padding: 1rem 1.6rem;
      color: var(--text-color-primary);
    }

    & > :not(:first-child) {
      border-top: 2px solid $color-primary;
    }
  }
}
.pagination {
  .page-item {
    width: 2.7rem;
    height: 2.7rem;
    margin: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-color-second);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: var(--color-hover);
    }

    &.active {
      color: var(--text-color-primary);
      background-color: $color-primary;
      cursor: default;
    }

    &.disabled {
      color: $color-white-light;
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
