.app-dark {
  --text-color-primary: #{$text-color-dark-primary};
  --text-color-second: #{$text-color-dark-second};
  --background-color-primary: #{$color-black};
  --background-color-second: #{$color-black-light};
  --color-hover: #{$color-black-hover};
  --border-color-input: #{$border-color-dark};
}

.custom-theme {
  background-color: var(--background-color-second);
  color: var(--text-color-primary);
}

.container-fluid {
  padding: 0;
}

.container-content--right {
  max-height: 100vh;
  overflow: auto;
}

main {
  min-height: calc(100vh - 50px);
  padding: 1.5rem;
  background-color: var(--background-color-primary);

  .container-fluid {
    padding: 1.5rem;
    background-color: var(--background-color-second);
    border-radius: 5px;
  }

  @include respond(tab-port) {
    padding: 2rem;

    .container-fluid {
      padding: 2rem;
    }
  }
}

.error-msg {
  margin: 2px 0;
  color: $color-danger;
  font-size: 1.1rem;
  min-height: 1.7rem;
}

.modal {
  padding: 0 2rem;
}

.symbol-require {
  color: $color-danger;
}

.form-control {
  padding: 0.8rem;
  background-color: inherit;
  border: 1px solid var(--border-color-input);
  color: var(--text-color-second);

  &:focus {
    background-color: inherit;
    color: var(--text-color-second);
    border-color: $color-primary;
    box-shadow: none;
  }

  &.error {
    border-color: $color-danger;
  }
}

.btn-submit {
  padding: 0.8rem 2rem;
  border: none;
  background-color: $color-primary;
  color: $color-black;
  flex-shrink: 0;
  box-shadow: none !important;

  &:hover {
    background-color: rgba($color-primary, 0.8);
    color: $color-black;
  }

  &:focus {
    background-color: $color-primary;
    color: $color-black;
  }
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: var(--background-color-second);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(119, 118, 118);
    border-radius: 999px;
  }

  &::-webkit-scrollbar-thumb:hover {
    // background: rgb(0, 0, 0);
  }
}
